name: autofix.ci

permissions:
  contents: read

on:
  pull_request:
    branches: [main]
  push:
    branches: [crowdin]

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - run: pnpm install
      - run: pnpm prune && pnpm dedupe
      - run: pnpm run lint:fix
      - run: docker run -v `pwd`:`pwd` -w `pwd` ghcr.io/realm/swiftlint:latest --fix
        working-directory: ./apps/stage-pocket

      # - name: AutoCorrect
      #   uses: huacnlee/autocorrect-action@main
      #   with:
      #     args: --fix

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8  # v1.3.3
